body{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.tweet{
  display: flex;
  gap: 12px;

  background: #fff;
  border: 1px solid #cfd9de;
  border-radius: 16px;
  padding: 12px;

  max-width: 700px;
}

.avatar{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
}

.tweet-content{
  flex: 1;
}

.tweet-header{
  margin-bottom: 4px;
}

.name{
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.metadata{
  color: #71767b;
  font-size: 15px;
  margin-left: 4px;
}

.message{
  color: #0f1419;
  font-size: 15px;
  margin: 0 0 12px 0;
}

.actions{
  display: flex;
  justify-content: space-between;

  max-width: 425px;
}

.action{
  display: flex;
  align-items: center;
  gap: 8px;

  color: #536471;
  font-size: 13px;
}

.action svg{
  width: 16px;
  height: 16px;
  fill: #536471;
}